
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before{
    content:'';
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
@-webkit-keyframes scroll{
    0%{
        opacity:0;
        -webkit-transform:translate3d(-50%,0,0);
        transform:translate3d(-50%,0,0)
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0;
        -webkit-transform:translate3d(-50%,200%,0);
        transform:translate3d(-50%,200%,0)
    }
}
@keyframes scroll{
    0%{
        opacity:0;
        -webkit-transform:translate3d(-50%,0,0);
        transform:translate3d(-50%,0,0)
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0;
        -webkit-transform:translate3d(-50%,200%,0);
        transform:translate3d(-50%,200%,0)
    }
}
@-webkit-keyframes pulse{
    0%{
        opacity:0;
        -webkit-transform:scale(.25) translate3d(-50%,-50%,0);
        transform:scale(.25) translate3d(-50%,-50%,0)
    }
    25%{
        opacity:.3;
        -webkit-transform:scale(.25) translate3d(-50%,-50%,0);
        transform:scale(.25) translate3d(-50%,-50%,0)
    }
    50%,75%{
        opacity:.3;
        -webkit-transform:scale(1) translate3d(-50%,-50%,0);
        transform:scale(1) translate3d(-50%,-50%,0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(.25) translate3d(-50%,-50%,0);
        transform:scale(.25) translate3d(-50%,-50%,0)
    }
}
@keyframes pulse{
    0%{
        opacity:0;
        -webkit-transform:scale(.25) translate3d(-50%,-50%,0);
        transform:scale(.25) translate3d(-50%,-50%,0)
    }
    25%{
        opacity:.3;
        -webkit-transform:scale(.25) translate3d(-50%,-50%,0);
        transform:scale(.25) translate3d(-50%,-50%,0)
    }
    50%,75%{
        opacity:.3;
        -webkit-transform:scale(1) translate3d(-50%,-50%,0);
        transform:scale(1) translate3d(-50%,-50%,0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(.25) translate3d(-50%,-50%,0);
        transform:scale(.25) translate3d(-50%,-50%,0)
    }
}
::selection{
    background:#7b0630;
    color:#fff
}
::-moz-selection{
    background:#7b0630;
    color:#fff
}
.cf:after,.cf:before{
    content:'';
    display:table
}
.cf:after{
    clear:both
}
.no-trans{
    -webkit-transition:none!important;
    transition:none!important
}
#fallback{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#7b0630;
    overflow:auto;
    display:none
}
#fallback .table{
    width:100%;
    height:100%;
    display:table
}
#fallback .table-cell{
    vertical-align:middle;
    display:table-cell
}
#fallback .content{
    width:100%;
    max-width:480px;
    margin:0 auto
}
#fallback .content-inner{
    margin:0 16px;
    padding:10px 0;
    color:#fff;
    text-align:center
}
#fallback .content-inner img{
    width:180px;
    height:auto;
    vertical-align:middle;
    margin-bottom:30px
}
#fallback .content-inner a{
    color:#fff;
    text-decoration:underline
}
#fallback .no-js-copy,#fallback .weak-copy,html.no-audio #wrapper,html.no-cssanimations #wrapper,html.no-csstransforms #wrapper,html.no-js #wrapper,html.weak #wrapper{
    display:none
}
html.no-audio #fallback,html.no-cssanimations #fallback,html.no-csstransforms #fallback,html.no-js #fallback,html.weak #fallback{
    display:block
}
html.no-audio #fallback .no-js-copy,html.no-cssanimations #fallback .no-js-copy,html.no-csstransforms #fallback .no-js-copy,html.no-js #fallback .no-js-copy,html.weak #fallback .no-js-copy{
    display:none
}
html.no-audio #fallback .weak-copy,html.no-cssanimations #fallback .weak-copy,html.no-csstransforms #fallback .weak-copy,html.no-js #fallback .weak-copy,html.weak #fallback .weak-copy{
    display:block
}
html.no-js #fallback .weak-copy{
    display:none
}
html.no-js #fallback .no-js-copy{
    display:block
}
#loader{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
#loader #loader-inner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden
}
#loader #instruct-screen,#loader #loading-screen{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    overflow:hidden
}
#loader #instruct-screen{
    background-color:#7b0630
}
#loader #instruct-screen #instruct-screen-inner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    opacity:0;
    -webkit-transform:translate3d(0,25%,0);
    transform:translate3d(0,25%,0);
    -webkit-transition:opacity 666ms cubic-bezier(.666,0,.333,1) 333ms,-webkit-transform 666ms cubic-bezier(.666,0,.333,1) 333ms;
    transition:opacity 666ms cubic-bezier(.666,0,.333,1) 333ms,transform 666ms cubic-bezier(.666,0,.333,1) 333ms
}
#loader #instruct-screen #animated-logo{
    position:absolute;
    top:0;
    bottom:50%;
    left:50%;
    width:160px;
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-size:100% auto;
    -webkit-transform:translate3d(-50%,0,0);
    transform:translate3d(-50%,0,0)
}
#loader #instruct-screen #directions{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:50%;
    text-align:center;
    overflow:hidden
}
#loader #instruct-screen #directions h2{
    padding:12px 0;
    color:#fff;
font-family: 'Jura', sans-serif;
    font-size:11px;
    line-height:13px
}
#loader #instruct-screen #directions #scroll-zone{
    position:absolute;
    top:113px;
    left:0;
    width:100%;
    bottom:0
}
#loader #instruct-screen #directions #scroll-zone #scroll-icon{
    position:absolute;
    bottom:100%;
    left:50%;
    height:12px;
    width:17px;
    margin-left:-2px;
    margin-bottom:36px;
    border-radius:12px;
    opacity:0;
    -webkit-transform:translate3d(-50%,0,0);
    transform:translate3d(-50%,0,0)
}
#loader #instruct-screen #directions #scroll-zone #scroll-icon:after,#loader #instruct-screen #directions #scroll-zone #scroll-icon:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:15px;
    height:3px;
    background-color:#fff;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg)
}
#loader #instruct-screen #directions #scroll-zone #scroll-icon:after{
    left:auto;
    right:0;
    -webkit-transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
#loader #instruct-screen #directions #scroll-zone #scroll-icon.right{
    margin-left:2px
}
#loader #instruct-screen #directions #scroll-zone .track .track-inner{
    background-color:rgba(255,255,255,.3);
    visibility:visible;
    opacity:1
}
@media all and (min-width:620px) and (min-height:480px){
    #loader #instruct-screen #directions h2{
        padding:30px 0;
        font-size:14px;
        line-height:17px
    }
    #loader #instruct-screen #directions #scroll-zone{
        top:151px
    }
}
@media all and (min-width:768px) and (min-height:480px){
    #loader #instruct-screen #animated-logo{
        width:220px
    }
    #loader #instruct-screen #directions h2{
        font-size:20px;
        line-height:22px
    }
    #loader #instruct-screen #directions #scroll-zone{
        top:166px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    #loader #instruct-screen #directions h2{
        font-size:2vw;
        line-height:2.3vw
    }
    #loader #instruct-screen #directions #scroll-zone{
        top:184px
    }
    #loader #instruct-screen #directions #scroll-zone #scroll-icon{
        width:18px
    }
    #loader #instruct-screen #directions #scroll-zone #scroll-icon:after,#loader #instruct-screen #directions #scroll-zone #scroll-icon:before{
        width:16px;
        height:4px
    }
}
@media all and (min-width:1220px) and (min-height:540px){
    #loader #instruct-screen #directions h2{
        font-size:2.2vw;
        line-height:2.5vw
    }
    #loader #instruct-screen #directions #scroll-zone{
        top:206px
    }
}
@media all and (min-width:1220px) and (min-height:620px){
    #loader #instruct-screen #animated-logo{
        width:308px
    }
}
@media all and (min-width:1440px) and (min-height:620px){
    #loader #instruct-screen #directions h2{
        font-size:34px;
        line-height:41px
    }
    #loader #instruct-screen #directions #scroll-zone{
        top:223px
    }
}
#loader #loading-screen{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
#loader #loading-screen .track .track-inner{
    visibility:visible;
    opacity:1;
    -webkit-transition:none;
    transition:none
}
#loader #loading-screen .track .fill{
    -webkit-transition:-webkit-transform 222ms cubic-bezier(0,0,.18,1);
    transition:transform 222ms cubic-bezier(0,0,.18,1)
}
#loader #loading-screen .track #counter{
    position:absolute;
    top:50%;
    right:4px;
    color:#7b0630;
font-family: 'Jura', sans-serif;
    font-size:13px;
    line-height:10px;
    font-weight:900;
    opacity:0;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:scale(.83333) translate3d(0,-50%,0);
    transform:scale(.83333) translate3d(0,-50%,0);
    -webkit-transition:opacity 333ms cubic-bezier(0,0,.18,1),-webkit-transform 333ms cubic-bezier(0,0,.18,1);
    transition:opacity 333ms cubic-bezier(0,0,.18,1),transform 333ms cubic-bezier(0,0,.18,1)
}
@media all and (min-width:1220px) and (min-height:620px){
    #loader #loading-screen .track #counter{
        font-size:12px
    }
}
#loader #loading-screen .track #counter.counting{
    opacity:1;
    -webkit-transform:scale(1) translate3d(-9px,-50%,0);
    transform:scale(1) translate3d(-9px,-50%,0);
    -webkit-transition:opacity 222ms cubic-bezier(0,0,.18,1),-webkit-transform 222ms cubic-bezier(0,0,.18,1);
    transition:opacity 222ms cubic-bezier(0,0,.18,1),transform 222ms cubic-bezier(0,0,.18,1)
}
#loader.totally-loaded #instruct-screen #instruct-screen-inner{
    opacity:1;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
#loader.totally-loaded #instruct-screen #directions #scroll-zone #scroll-icon{
    -webkit-animation:scroll 1332ms cubic-bezier(0,0,.18,1) infinite 999ms;
    animation:scroll 1332ms cubic-bezier(0,0,.18,1) infinite 999ms
}
#loader.destroy,#loader.totally-loaded #loading-screen{
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
    -webkit-transition:-webkit-transform 666ms cubic-bezier(.666,0,.333,1) 333ms;
    transition:transform 666ms cubic-bezier(.666,0,.333,1) 333ms
}
#loader.destroy #instruct-screen #instruct-screen-inner{
    opacity:0;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:opacity 666ms cubic-bezier(.666,0,.333,1) 333ms;
    transition:opacity 666ms cubic-bezier(.666,0,.333,1) 333ms
}
body,html{
    width:100%;
    height:100%;
    overflow:hidden
}
body{
    color:#2b2827;
    background-color:#fff;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none
}
a{
    color:#2b2827;
    outline:0;
    text-decoration:none
}
#wrapper{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden
}
h2{
font-family: 'Jura', sans-serif;
    font-size:14px;
    line-height:14px;
    white-space:nowrap
}
h3{
font-family: 'Jura', sans-serif;
    font-size:8px;
    line-height:10px;
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:1px
}
h4{
font-family: 'Jura', sans-serif;
    font-size:8px;
    line-height:10px
}
p{
font-family: 'Jura', sans-serif;
    font-size:8px;
    line-height:12px
}
@media all and (min-width:480px){
    h2{
        font-size:18px;
        line-height:18px
    }
}
@media all and (min-width:768px){
    h2{
        font-size:28px;
        line-height:28px
    }
    p{
        font-size:10px;
        line-height:16px
    }
}
@media all and (min-width:1024px){
    h2{
        font-size:30px;
        line-height:30px
    }
    h3,h4{
        font-size:13px;
        line-height:10px
    }
}
@media all and (min-width:1220px){
    h2{
        font-size:36px;
        line-height:36px
    }
}
@media all and (min-width:1220px) and (min-height:620px){
    h3,h4{
        font-size:12px;
        line-height:10px
    }
}
@media all and (min-width:1220px) and (min-height:620px){
    p{
        font-size:12px;
        line-height:20px
    }
}
@media all and (min-width:1440px){
    h2{
        font-size:48px;
        line-height:48px
    }
}
.roller{
    position:relative;
    height:30px;
    display:inline-block;
    overflow:hidden
}
@media all and (min-width:1024px) and (min-height:540px){
    .roller{
        height:40px
    }
}
.roller .roller-inner{
    position:relative;
    height:100%;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
    transition:transform 666ms cubic-bezier(.666,0,.333,1)
}
.roller.roll-it .roller-inner{
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0)
}
.lava-link{
    position:relative;
    height:100%;
    display:inline-block;
    overflow:hidden;
}
.lava-link h4{
    position:relative;
    padding:10px 0
}
@media all and (min-width:1024px) and (min-height:540px){
    .lava-link h4{
        padding:20px 0 10px
    }
}
.tick{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:2px;
    margin-left:9px;
    background-color:#7b0630;
    overflow:hidden;
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0);
    -webkit-transition:margin-left 666ms cubic-bezier(.666,0,.333,1),-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
    transition:margin-left 666ms cubic-bezier(.666,0,.333,1),transform 666ms cubic-bezier(.666,0,.333,1)
}
.tick.right{
    margin-left:-9px;
    -webkit-transform:translate3d(100%,0,0);
    transform:translate3d(100%,0,0)
}
@media all and (min-width:1024px) and (min-height:540px){
    .tick{
        height:3px
    }
}
.track{
    position:absolute;
    top:0;
    left:50%;
    width:3px;
    height:100%;
    -webkit-transform:translate(-100%,0);
    -ms-transform:translate(-100%,0);
    transform:translate(-100%,0)
}
.track.right{
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0)
}
@media all and (min-width:1024px) and (min-height:540px){
    .track{
        width:4px
    }
}
.track .track-inner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#7b0630;
    visibility:hidden;
    opacity:0;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1)
}
.track .fill{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.track .fill.trans{
    -webkit-transition:-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
    transition:transform 666ms cubic-bezier(.666,0,.333,1)
}
.track.show .track-inner{
    visibility:visible;
    opacity:1;
    -webkit-transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1)
}
html.cool-clicks .lava-link:not(.pin):hover .tick{
    margin-left:0;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
#pages{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:0;
    line-height:0;
    white-space:nowrap;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
    transition:transform 666ms cubic-bezier(.666,0,.333,1)
}
.page,.page-inner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden
}
.inner{
    position:absolute;
    top:20px;
    left:12px;
    right:12px;
    bottom:20px
}
@media all and (min-width:480px){
    .inner{
        left:30px;
        right:30px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    .inner{
        top:60px;
        left:90px;
        right:90px;
        bottom:60px
    }
}
#about.page{
    width:50%;
    background-color:#2b2827
}
#about.page a{
    color:#fff
}
#about.page .tick{
    background-color:#7b0630
}
#about.page .inner{
    text-align:right
}
#about.page .content{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    max-width:710px;
    white-space:normal;
    color:#fff
}
#about.page .content:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:9px;
    height:2px;
    background-color:#7b0630
}
@media all and (min-width:1024px) and (min-height:540px){
    #about.page .content:before{
        height:3px
    }
}
#about.page .content ul.alt-quote{
    position:relative;
    padding:20px 0 30px;
font-family: 'Jura', sans-serif;
    font-size:13px;
    line-height:15px
}
@media all and (min-width:620px){
    #about.page .content ul.alt-quote{
        display:none
    }
}
#about.page .content ul.pull-quote{
    position:relative;
    padding:20px 0 30px;
font-family: 'Jura', sans-serif;
    font-size:11px;
    line-height:13px;
    display:none
}
@media all and (min-width:620px){
    #about.page .content ul.pull-quote{
        font-size:14px;
        line-height:17px;
        display:block
    }
}
@media all and (min-width:768px){
    #about.page .content ul.pull-quote{
        font-size:20px;
        line-height:22px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    #about.page .content ul.pull-quote{
        font-size:2vw;
        line-height:2.3vw
    }
}
@media all and (min-width:1220px) and (min-height:540px){
    #about.page .content ul.pull-quote{
        font-size:2.2vw;
        line-height:2.5vw
    }
}
@media all and (min-width:1440px) and (min-height:620px){
    #about.page .content ul.pull-quote{
        font-size:34px;
        line-height:41px
    }
}
#about.page .content ul.alt-sub-quote{
    position:relative;
    padding:0 0 30px;
font-family: 'Jura', sans-serif;
    font-size:8px;
    line-height:11px;
    display:none
}
#about.page .content ul.alt-sub-quote li{
    width:136px
}
@media all and (min-height:400px){
    #about.page .content ul.alt-sub-quote{
        display:inline-block
    }
}
@media all and (min-width:620px){
    #about.page .content ul.alt-sub-quote{
        display:none
    }
}
#about.page .content ul.sub-quote{
    font-size:8px;
    line-height:11px;
    padding-bottom:40px;
    display:none
}
@media all and (min-width:620px){
    #about.page .content ul.sub-quote{
        display:block
    }
}
@media all and (min-width:768px){
    #about.page .content ul.sub-quote{
        font-size:10px;
        line-height:13px
    }
}
@media all and (min-width:1024px){
    #about.page .content ul.sub-quote{
        font-size:12px;
        line-height:16px
    }
}
@media all and (min-width:1024px) and (min-height:620px){
    #about.page .content ul.sub-quote{
        display:block
    }
}
@media all and (min-width:1220px){
    #about.page .content ul.sub-quote{
        font-size:1.2vw;
        line-height:1.5vw;
        display:none
    }
}
@media all and (min-width:1220px) and (min-height:680px){
    #about.page .content ul.sub-quote{
        display:block
    }
}
@media all and (min-width:1440px){
    #about.page .content ul.sub-quote{
        font-size:1.3vw;
        line-height:1.7vw;
        display:none
    }
}
@media all and (min-width:1440px) and (min-height:720px){
    #about.page .content ul.sub-quote{
        display:block
    }
}
#about.page .content .lava-link{
    height:30px
}
@media all and (min-width:1024px) and (min-height:540px){
    #about.page .content .lava-link{
        height:40px
    }
}
#about.page ul.socials{
    position:absolute;
    bottom:-10px;
    right:0;
    width:100%;
    height:30px
}
@media all and (min-width:1220px) and (min-height:540px){
    #about.page ul.socials{
        height:40px
    }
}
#about.page ul.socials li{
    height:100%;
    margin-left:14px;
    display:inline-block
}
#about.page ul.socials li:first-child{
    margin-left:0
}
#about.page ul.socials li:nth-child(4),#about.page ul.socials li:nth-child(5){
    display:none
}
@media all and (min-width:480px){
    #about.page ul.socials li{
        margin-left:20px
    }
}
@media all and (min-width:620px){
    #about.page ul.socials li:nth-child(4),#about.page ul.socials li:nth-child(5){
        display:inline-block
    }
}
@media all and (min-width:1024px){
    #about.page ul.socials li{
        margin-left:28px
    }
}
@media all and (min-width:1220px){
    #about.page ul.socials li{
        margin-left:44px
    }
}
@media all and (min-width:1440px){
    #about.page ul.socials li{
        margin-left:60px
    }
}
#landing.page{
    left:50%
}
#landing.page .track .fill.trans{
    -webkit-transition:-webkit-transform 666ms cubic-bezier(0,0,.18,1);
    transition:transform 666ms cubic-bezier(0,0,.18,1)
}
#landing.page .track ul{
    position:absolute;
    top:0;
    right:0;
    width:12px;
    height:100%
}
#landing.page .track ul li{
    position:relative;
    width:100%;
}
#landing.page .track ul li:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:3px;
    height:1px;
    background-color:#2b2827
}
#landing.page .track ul li:first-child:before{
    display:none
}
@media all and (min-width:480px){
    #landing.page .track ul{
        width:30px
    }
}
@media all and (min-width:1024px){
    #landing.page .track ul{
        width:40px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    #landing.page .track ul li:before{
        width:4px
    }
}
#landing.page .posters{
    position:absolute;
    top:0;
    right:0;
    width:50%;
    height:100%;
    visibility:visible;
    opacity:1;
    -webkit-filter:grayscale(1);
    filter:grayscale(1);
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1),-webkit-transform 666ms cubic-bezier(0,0,.18,1);
    transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1),transform 666ms cubic-bezier(0,0,.18,1)
}
#landing.page .posters .poster{
    position:relative;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    overflow:hidden
}
#landing.page .inner{
    right:50%;
    margin-right:12px
}
@media all and (min-width:480px){
    #landing.page .inner{
        margin-right:30px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    #landing.page .inner{
        margin-right:90px
    }
}
#landing.page .page-inner .inner{
    opacity:1;
    -webkit-transform:scale(1) translate3d(0,0,0);
    transform:scale(1) translate3d(0,0,0);
    -webkit-transition:opacity 666ms cubic-bezier(0,0,.18,1),-webkit-transform 666ms cubic-bezier(0,0,.18,1);
    transition:opacity 666ms cubic-bezier(0,0,.18,1),transform 666ms cubic-bezier(0,0,.18,1)
}
#landing.page .page-inner.hide .inner{
    opacity:0;
    -webkit-transform:scale(.9) translate3d(0,0,0);
    transform:scale(.9) translate3d(0,0,0);
    -webkit-transition:none;
    transition:none
}
#landing.page #logo{
    position:absolute;
    top:-6px;
    left:0;
    width:80px;
    height:80px;
    font-size:0;
    line-height:0;
    background-image:url(../logon.svg);
    background-repeat:no-repeat;
    background-position:left center;
    background-size:auto 25%;
    overflow:hidden
}
@media all and (min-width:480px) and (min-height:540px){
    #landing.page #logo{
        top:-8px;
        width:120px;
        height:120px
    }
}
@media all and (min-width:768px) and (min-height:620px){
    #landing.page #logo{
        top:-10px;
        width:160px;
        height:160px
    }
}
#landing.page #ac-roller{
    position:absolute;
    bottom:-10px;
    left:0
}
#landing.page #pi-roller{
    display:none
}
@media all and (min-width:480px){
    #landing.page #pi-roller{
        position:absolute;
        bottom:-10px;
        right:0;
        text-align:right;
        display:block
    }
}
#landing.page #title-zone{
    position:absolute;
    top:50%;
    right:0;
    width:100%;
    visibility:visible;
    opacity:1;
    -webkit-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%);
    -webkit-transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#landing.page #title-zone #title-roller{
    height:34px
}
#landing.page #title-zone #title-roller .roller-inner{
    -webkit-transition:-webkit-transform 666ms cubic-bezier(0,0,.18,1);
    transition:transform 666ms cubic-bezier(0,0,.18,1)
}
#landing.page #title-zone #title-roller h2{
    height:14px;
    padding:10px 0;
    font-size:14px;
    line-height:14px;
font-family: 'Jura', sans-serif;
}
@media all and (min-width:480px){
    #landing.page #title-zone #title-roller{
        height:58px
    }
    #landing.page #title-zone #title-roller h2{
        height:18px;
        padding:20px 0;
        font-size:18px;
        line-height:18px
    }
}
@media all and (min-width:768px){
    #landing.page #title-zone #title-roller{
        height:72px
    }
    #landing.page #title-zone #title-roller h2{
        height:32px;
        font-size:32px;
        line-height:32px
    }
}
@media all and (min-width:1024px){
    #landing.page #title-zone #title-roller{
        height:74px
    }
    #landing.page #title-zone #title-roller h2{
        height:34px;
        font-size:40px;
        line-height:34px;
		font-weight: bold;
    }
}
@media all and (min-width:1220px){
    #landing.page #title-zone #title-roller{
        height:84px
    }
    #landing.page #title-zone #title-roller h2{
        height:44px;
        font-size:44px;
        line-height:44px
    }
}
@media all and (min-width:1440px){
    #landing.page #title-zone #title-roller{
        height:94px
    }
    #landing.page #title-zone #title-roller h2{
        height:54px;
        font-size:54px;
        line-height:54px
    }
}
#landing.page #title-zone #meta-roller{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:45px;
    display:none
}
#landing.page #title-zone #meta-roller .roller-inner{
    -webkit-transition:-webkit-transform 666ms cubic-bezier(0,0,.18,1);
    transition:transform 666ms cubic-bezier(0,0,.18,1)
}
#landing.page #title-zone #meta-roller h3{
    margin-left:-1px;
    padding:10px 0 5px
}
#landing.page #title-zone #meta-roller h4{
    padding:0 0 10px
}
@media all and (min-width:480px){
    #landing.page #title-zone #meta-roller{
        display:block
    }
}
@media all and (min-width:768px){
    #landing.page #title-zone #meta-roller{
        height:60px
    }
    #landing.page #title-zone #meta-roller h3{
        padding:20px 0 10px
    }
}
#landing.page #project-index{
    display:none
}
@media all and (min-width:480px){
    #landing.page #project-index{
        position:absolute;
        top:0;
        left:50%;
        right:0;
        bottom:0;
        overflow:hidden;
        visibility:hidden;
        display:block;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        -webkit-transition:visibility 0ms linear 666ms;
        transition:visibility 0ms linear 666ms
    }
}
#landing.page #project-index #project-index-inner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#2b2827;
    overflow:hidden;
    -webkit-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0);
    -webkit-transition:-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
    transition:transform 666ms cubic-bezier(.666,0,.333,1)
}
#landing.page #project-index #project-index-inner ul{
    position:absolute;
    top:0;
    left:12px;
    right:12px;
    bottom:0;
    overflow:hidden
}
@media all and (min-width:480px){
    #landing.page #project-index #project-index-inner ul{
        left:30px;
        right:30px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    #landing.page #project-index #project-index-inner ul{
        left:90px;
        right:90px
    }
}
#landing.page #project-index #project-index-inner ul li{
    position:relative;
    width:100%;
    overflow:hidden;
}
#landing.page #project-index #project-index-inner ul li:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:1px;
    background-color:#fff;
    opacity:.3
}
#landing.page #project-index #project-index-inner ul li:first-child:after{
    display:none
}
#landing.page #project-index #project-index-inner ul li h3{
    position:relative;
    top:50%;
    color:#fff;
    -webkit-transition:color 666ms cubic-bezier(.666,0,.333,1),-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
    transition:color 666ms cubic-bezier(.666,0,.333,1),transform 666ms cubic-bezier(.666,0,.333,1);
    -webkit-transform:translate3d(0,-50%,0);
    transform:translate3d(0,-50%,0)
}
#landing.page #project-index #project-index-inner ul li h3 span{
    display:none
}
@media all and (min-width:480px){
    #landing.page #project-index #project-index-inner ul li h3 span{
        display:inline-block
    }
}
#landing.page #project-index #project-index-inner ul li.active h3{
    color:#7b0630
}
@media all and (min-width:480px){
    #landing.page #project-index #project-index-inner ul li.active h3{
        -webkit-transform:translate3d(9px,-50%,0);
        transform:translate3d(9px,-50%,0)
    }
}
#landing.page #project-index.show{
    visibility:visible;
    -webkit-transition:visibility 0ms linear;
    transition:visibility 0ms linear
}
#landing.page #project-index.show #project-index-inner{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
#landing.page #control{
    position:absolute;
    top:75%;
    left:50%;
    width:44px;
    height:44px;
    margin-left:12px;
    -webkit-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%)
}
#landing.page #control:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#7b0630;
    border-radius:50%;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:-webkit-transform 333ms cubic-bezier(.666,0,.333,1);
    transition:transform 333ms cubic-bezier(.666,0,.333,1)
}
#landing.page #control span{
    position:absolute;
    top:50%;
    left:50%;
    width:2px;
    height:8px;
    margin:-6px 0 0;
    background-color:#fff;
    -webkit-transform:rotate(-45deg) translate3d(0,0,0);
    transform:rotate(-45deg) translate3d(0,0,0);
    -webkit-transition:height 666ms cubic-bezier(.666,0,.333,1),margin 666ms cubic-bezier(.666,0,.333,1);
    transition:height 666ms cubic-bezier(.666,0,.333,1),margin 666ms cubic-bezier(.666,0,.333,1)
}
#landing.page #control span:last-child{
    margin:-1px 0 0;
    -webkit-transform:rotate(45deg) translate3d(0,0,0);
    transform:rotate(45deg) translate3d(0,0,0)
}
@media all and (min-width:480px){
    #landing.page #control{
        margin-left:30px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    #landing.page #control{
        width:80px;
        height:80px;
        margin-left:90px
    }
    #landing.page #control span{
        width:2px;
        height:12px;
        margin:-9px 0 0
    }
    #landing.page #control span:last-child{
        margin:-2px 0 0
    }
}
#landing.page.about-mode #ac-roller .roller-inner{
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0)
}
#landing.page.about-mode #title-zone{
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#landing.page.home-mode .track .track-inner{
    visibility:visible;
    opacity:1;
    -webkit-transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#landing.page.work-mode .posters{
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1),-webkit-transform 666ms cubic-bezier(0,0,.18,1);
    transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1),transform 666ms cubic-bezier(0,0,.18,1)
}
#landing.page.work-mode #control span{
    height:12px;
    margin:-6px 0 0 -1px
}
#landing.page.work-mode #control span:last-child{
    margin:-6px 0 0 -1px
}
@media all and (min-width:1024px) and (min-height:540px){
    #landing.page.work-mode #control span{
        height:18px;
        margin:-9px 0 0 -1px
    }
    #landing.page.work-mode #control span:last-child{
        margin:-9px 0 0 -1px
    }
}
@media all and (min-width:1024px){
    html.cool-clicks #landing.page .track ul li:after{
        content:attr(data-number);
        position:absolute;
        top:50%;
        right:4px;
        color:#7b0630;
font-family: 'Jura', sans-serif;
        font-size:10px;
        line-height:10px;
        font-weight:900;
        opacity:0;
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
        -webkit-transform:scale(.83333) translate3d(0,-50%,0);
        transform:scale(.83333) translate3d(0,-50%,0);
        -webkit-transition:opacity 333ms cubic-bezier(0,0,.18,1),-webkit-transform 333ms cubic-bezier(0,0,.18,1);
        transition:opacity 333ms cubic-bezier(0,0,.18,1),transform 333ms cubic-bezier(0,0,.18,1)
    }
}
@media all and (min-width:1024px) and (min-width:1220px) and (min-height:620px){
    html.cool-clicks #landing.page .track ul li:after{
        font-size:12px
    }
}
@media all and (min-width:1024px){
    html.cool-clicks #landing.page .track ul li:hover:after{
        opacity:1;
        -webkit-transform:scale(1) translate3d(-9px,-50%,0);
        transform:scale(1) translate3d(-9px,-50%,0);
        -webkit-transition:opacity 222ms cubic-bezier(0,0,.18,1),-webkit-transform 222ms cubic-bezier(0,0,.18,1);
        transition:opacity 222ms cubic-bezier(0,0,.18,1),transform 222ms cubic-bezier(0,0,.18,1)
    }
}
@media all and (min-width:1024px){
    html.cool-clicks #landing.page #project-index #project-index-inner ul li h3{
        -webkit-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        -webkit-transform:scale(.83333) translate3d(0,-50%,0);
        transform:scale(.83333) translate3d(0,-50%,0);
        -webkit-transition:color 333ms cubic-bezier(0,0,.18,1),-webkit-transform 333ms cubic-bezier(0,0,.18,1);
        transition:color 333ms cubic-bezier(0,0,.18,1),transform 333ms cubic-bezier(0,0,.18,1)
    }
    html.cool-clicks #landing.page #project-index #project-index-inner ul li.active h3,html.cool-clicks #landing.page #project-index #project-index-inner ul li:hover h3{
        -webkit-transform:scale(1) translate3d(9px,-50%,0);
        transform:scale(1) translate3d(9px,-50%,0);
        -webkit-transition:color 222ms cubic-bezier(0,0,.18,1),-webkit-transform 222ms cubic-bezier(0,0,.18,1);
        transition:color 222ms cubic-bezier(0,0,.18,1),transform 222ms cubic-bezier(0,0,.18,1)
    }
}
html.cool-clicks #landing.page #control:before{
    -webkit-transform:scale(.8) translate3d(0,0,0);
    transform:scale(.8) translate3d(0,0,0)
}
html.cool-clicks #landing.page #control:hover:before{
    -webkit-transform:scale(1) translate3d(0,0,0);
    transform:scale(1) translate3d(0,0,0)
}
#work.page{
    left:100%
}
#work.page #projects{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:-webkit-transform 666ms cubic-bezier(.666,0,.333,1);
    transition:transform 666ms cubic-bezier(.666,0,.333,1)
}
#work.page .project{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden
}
#work.page .project .project-inner{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden
}
#work.page .project .posters{
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    overflow:hidden
}
#work.page .project .posters .poster{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover
}
#work.page .project .posters .poster:nth-child(2){
    opacity:1;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:opacity 666ms cubic-bezier(.666,0,.333,1)
}
#work.page .project .posters.hide-front .poster:nth-child(2){
    opacity:0
}
#work.page .inner{
    overflow:hidden
}
#work.page .content{
    position:absolute;
    top:0;
    left:50%;
    right:0;
    height:100%;
    margin-left:12px;
    white-space:normal;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@media all and (min-width:480px){
    #work.page .content{
        margin-left:30px
    }
}
@media all and (min-width:1024px) and (min-height:540px){
    #work.page .content{
        margin-left:90px
    }
}
#work.page .content article{
    position:relative;
    width:100%;
    min-height:120%
}
#work.page .content .meta .tick{
    width:9px;
    margin:0;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:none;
    transition:none
}
#work.page .content .meta h2{
    position:relative;
    padding:20px 0;
font-family: 'Jura', sans-serif;
}
#work.page .content .meta h3{
    position:relative;
    margin-left:-1px;
    padding:10px 0 5px
}
#work.page .content .meta p{
    padding-top:10px
}
#work.page .content .meta a{
    color:#7b0630;
    display:inline-block;
	font-size: 21px;
    font-weight: bolder;
}
#work.page .content .meta .description{
    position:relative;
    margin-top:20px
}
#work.page .content .meta .description p{
font-family: 'Jura', sans-serif;
}
@media all and (min-width:768px){
    #work.page .content .meta h3{
        padding:20px 0 10px
    }
    #work.page .content .meta p{
        padding-top:20px
    }
    #work.page .content .meta .description{
        margin-top:30px
    }
}
@media all and (min-width:1024px){
    #work.page .content .meta .description p{
        font-size:12px;
        line-height:20px
    }
}
#work.page .content .meta ul{
    padding-top:10px
}
#work.page .content .meta ul:nth-of-type(1){
    position:relative;
    margin-top:20px
}
#work.page .content .meta ul:nth-of-type(1):before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:9px;
    height:2px;
    background-color:#7b0630
}
@media all and (min-width:1024px) and (min-height:540px){
    #work.page .content .meta ul:nth-of-type(1):before{
        height:3px
    }
}
#work.page .content .meta ul li{
font-family: 'Jura', sans-serif;
    font-size:8px;
    line-height:12px
}
#work.page .content .meta ul li:first-child{
    font-weight:900;
    text-transform:uppercase
}
@media all and (min-width:768px){
    #work.page .content .meta ul{
        padding-top:20px
    }
    #work.page .content .meta ul:nth-of-type(1){
        margin-top:30px
    }
    #work.page .content .meta ul li{
        font-size:10px;
        line-height:16px
    }
}
@media all and (min-width:1220px){
    #work.page .content .meta ul li{
        font-size:12px;
        line-height:20px
    }
}
#work.page .content .media{
    position:relative;
    width:100%;
    height:0;
    margin-top:20px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover
}
@media all and (min-width:480px){
    #work.page .content .media{
        margin-top:30px
    }
}
@media all and (min-width:1024px) and (min-height:620px){
    #work.page .content .media{
        margin-top:40px
    }
}
#work.page .content .media img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
#work.page .content .media.video .video-holder{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
    visibility:hidden;
    opacity:0;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#work.page .content .media.video .video-holder iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
#work.page .content .media.video .play-btn{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    visibility:visible;
    opacity:1;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#work.page .content .media.video .play-btn:before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:44px;
    height:44px;
    background-color:#7b0630;
    border-radius:50%;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform:translate3d(-50%,-50%,0);
    transform:translate3d(-50%,-50%,0)
}
@media all and (min-width:1024px) and (min-height:540px){
    #work.page .content .media.video .play-btn:before{
        width:80px;
        height:80px
    }
}
#work.page .content .media.video .play-btn:after{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:0;
    height:0;
    margin:-5px 0 0 -3px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:8px solid #fff;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
@media all and (min-width:1024px) and (min-height:540px){
    #work.page .content .media.video .play-btn:after{
        margin:-10px 0 0 -6px;
        border-top:10px solid transparent;
        border-bottom:10px solid transparent;
        border-left:16px solid #fff
    }
}
#work.page .content .media.video .play-btn:hover:before{
    -webkit-transform:scale(1.2) translate3d(-50%,-50%,0);
    transform:scale(1.2) translate3d(-50%,-50%,0)
}
#work.page .content .media.video.playing .video-holder{
    visibility:visible;
    opacity:1;
    -webkit-transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#work.page .content .media.video.playing .play-btn{
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear 666ms,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#work.page .content .media:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#f9f9f9;
    opacity:1;
    visibility:visible;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1);
    transition:visibility 0ms linear,opacity 666ms cubic-bezier(.666,0,.333,1)
}
#work.page .content .media.loaded:after{
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0ms linear 1332ms,opacity 666ms cubic-bezier(.666,0,.333,1) 666ms;
    transition:visibility 0ms linear 1332ms,opacity 666ms cubic-bezier(.666,0,.333,1) 666ms
}
#work.page .content .pagination{
    margin-top:20px
}
#work.page .content .pagination .lava-link h4 span{
    color:#7b0630
}
@media all and (min-width:480px){
    #work.page .content .pagination{
        margin-top:30px
    }
}
@media all and (min-width:1024px) and (min-height:620px){
    #work.page .content .pagination{
        margin-top:40px
    }
}
html.cool-clicks #work.page .content .media.video .play-btn:before{
    -webkit-transform:scale(.8) translate3d(-50%,-50%,0);
    transform:scale(.8) translate3d(-50%,-50%,0);
    -webkit-transition:-webkit-transform 333ms cubic-bezier(.666,0,.333,1);
    transition:transform 333ms cubic-bezier(.666,0,.333,1)
}
html.cool-clicks #work.page .content .media.video .play-btn:hover:before{
    -webkit-transform:scale(1) translate3d(-50%,-50%,0);
    transform:scale(1) translate3d(-50%,-50%,0)
}
html.finger-blaster #work.page .content .meta .description{
    display:none
}
@media all and (min-width:768px){
    html.finger-blaster #work.page .content .meta .description{
        display:block
    }
}








div { cursor: url(../cursorred.cur), pointer; }
h2 { cursor: url(../cursor.cur), pointer; }
h3 { cursor: url(../cursor.cur), pointer; }
h4 { cursor: url(../cursor.cur), pointer; }
#landing.page.work-mode #control span { cursor: url(../cursor.cur), pointer; }
#landing.page #control { cursor: url(../cursor.cur), pointer; }
a { cursor: url(../cursor.cur), pointer; }
li { cursor: url(../cursorred.cur), pointer; }
#loader #instruct-screen #directions h2 { cursor: url(../cursor1.cur), pointer; }
#loader #instruct-screen { cursor: url(../cursor1.cur), pointer; }
#loader #instruct-screen #directions #scroll-zone { cursor: url(../cursor1.cur), pointer; }
#loader #instruct-screen #directions #scroll-zone #scroll-icon { cursor: url(../cursor1.cur), pointer; }
#loader #instruct-screen #directions { cursor: url(../cursor1.cur), pointer; }
#loader #instruct-screen #animated-logo { cursor: url(../cursor1.cur), pointer; }
#loader #instruct-screen #instruct-screen-inner { cursor: url(../cursorred.png), pointer; }